// ---BEGIN PERSONALIZATION--- //

//Colors http://material.io/color/
$team-logo: url(http://frc4418.weebly.com/uploads/6/2/1/3/62133151/team-4418-logo.png);

$primary-base: #2962ff;
$primary-base-text: white;
$primary-light: #768fff;
$primary-light-text: black;
$primary-dark: #0039cb;
$primary-dark-text: white;

$secondary-base: #fdd835;
$secondary-base-text: black;
$secondary-light: #ffff6b;
$secondary-light-text: black;
$secondary-dark: #c6a700;
$secondary-dark-text: black;

// ---END PERSONALIZATION--- //
// ---BEGIN MIXIN DECLARATION--- //
@mixin card {
	border-radius: 10px;
	background-color: $secondary-light;
	color: $secondary-light-text;
	padding: 1em;
	margin: 1em;
}
// ---END MIXIN DECLARATION--- //

//Start normal styling
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	min-height: 100%;
	body {
		width: 100%;
		min-height: 100%;
		display: flex;
		flex-flow: row nowrap;
	}
}

div.sidebar {
	width: 20em;
	height: 100%;
	background-color: $primary-base;
	color: $primary-base-text;
	display: flex;
	flex-flow: column nowrap;
	user-select: none;
	cursor: default;
	div.item {
		display: flex;
		//justify-content: center;
		text-indent: 1em;
		align-items: center;
		height: 3em;
		//background-color: $primary-base;
		//color: $primary-base-text;
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 2em;
		&:hover,&.active {
			background-color: $primary-dark;
			color: $primary-dark-text;
		}
	}
}

div.content {
	width: 100%;
	div.page {
		//Do not show inactive pages
		display: none;
		&.active { //But show active ones
			display: flex;
		}
		//Continue with general styling
		//background-color: $secondary-light;
		width: 100%;
		min-height: 100%;
		padding: 1em;
	}
}

//Style individual pages
div.page {
	&#Home {
		//padding: 0;
		.branding {
			background-color: $secondary-dark;
			color: $secondary-dark-text;
		}
	}

	&#NextMatch {
		padding: 0;
		display: flex;
		flex-flow: column nowrap;
		background-color: $primary-light;
		div.top, div.bottom {
			display: flex;
			flex-flow: row nowrap;
			flex-grow: 1;
			padding: 1em;
		}
		div.top {
			div.time {
				@include card;
				flex-grow: 0.5;
			}
			div.matchTime {
				@include card;
				flex-grow: 1;
			}
		}
		div.bottom {
			div.lineup {
				@include card;
				padding: 0;
				flex-grow: 1;
				display: flex;
				flex-flow: row nowrap;
				overflow: hidden;
				& > div {
					flex-grow: 1;
				}
				div.red {
					padding: 1em;
					background-color: #ff7961;
				}
				div.blue {
					padding: 1em;
					background-color: #757de8;
				}
			}
		}
	}
}

//Define standard element styles
h1 {
	font-weight: 800;
	display: block;
}
