@import "js://vars";
// ---BEGIN MIXIN DECLARATION--- //
@mixin card {
	border-radius: 10px;
	background-color: $secondary-base;
	color: $secondary-base-text;
	padding: 1em;
	margin: 0.5em;
	box-shadow: 0px 0px 20px black;
}
@mixin flex($flow) {
	display: flex;
	flex-flow: $flow;
}

// ---END MIXIN DECLARATION--- //

//Start normal styling
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
	user-select: none;
	cursor: default;
}

html {
	width: 100%;
	height: 100%;
	overflow: auto;
	body {
		width: 100%;
		min-height: 100%;
		@include flex(row nowrap);
	}
}

div.sidebar {
	width: 20em;
	height: 100%;
	background-color: $primary-base;
	color: $primary-base-text;
	@include flex(column nowrap);
	user-select: none;
	cursor: default;
	div.item {
		@include flex(row nowrap);
		//justify-content: center;
		text-indent: 1em;
		align-items: center;
		height: 3em;
		//background-color: $primary-base;
		//color: $primary-base-text;
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 2em;
		&:hover,&.active {
			background-color: $primary-dark;
			color: $primary-dark-text;
		}
	}
}

div.content {
	width: 100%;
	div.page {
		&.hidden { //Do not show hidden pages
			display: none !important;
		}
		//Continue with general styling
		//background-color: $secondary-light;
		width: 100%;
		min-height: 100%;
		padding: 1em;
	}
}

//Style individual pages
div.page {
	&#Home {
		padding: 0;
		webview {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
		}
	}

	&#NextMatch {
		padding: 0;
		@include flex(column nowrap);
		.bg {
			background-color: $primary-dark;
			width: 100%;
			height: 100%;
			-webkit-mask: url(img/Hexagon_Tiling.svg) 0 0/70px;
			position: absolute;
			left: 0;
			z-index: -1;
		}
		div.top, div.bottom {
			@include flex(row nowrap);
			padding: 1em;
		}
		div.top {
			flex-grow: 0.25;
			div.time {
				@include flex(column nowrap);
				@include card;
				flex-grow: 0.15;
				div.label {
					@include flex(row nowrap);
					justify-content: center;
					//align-items: center;
					border-top: 1px solid black;
					padding-top: 1em;
					font-size: 2vh;
					font-weight: 800;
				}
				div.data {
					@include flex(column nowrap);
					flex-grow: 1;
					justify-content: center;
					align-items: center;
					div {
						font-size: 7vw;
						font-weight: 100;
					}
				}
			}
			div.matchTime {
				@include card;
				flex-grow: 1;
				@include flex(column nowrap);
				div.times {
					@include flex(column nowrap);
					justify-content: center;
					align-items: center;
					font-size: 7vw;
					font-weight: 100;
					flex-grow: 1;
					div.timeLabel {
						align-self: flex-start;
						border-right: 2px solid;
						border-bottom: 2px solid;
						font-size: 2vw;
						font-weight: 300;
						padding: 5px;
						border-bottom-right-radius: 6px;
					}
				}
				div.label {
					border-top: 1px solid black;
					@include flex(row nowrap);
					justify-content: center;
					font-size: 2vh;
					font-weight: 800;
					padding-top: 1em;
				}
			}
		}
		div.bottom {
			flex-grow: 1;
			div.lineup {
				@include card;
				padding: 0;
				flex-grow: 1;
				@include flex(row nowrap);
				overflow: hidden;
				& > div {
					flex-grow: 1;
				}
				div.red,div.blue {
					@include flex(column nowrap);
					justify-content: space-around;
					flex-grow: 1;
					div.team {
						flex-grow: 1;
						@include flex(row nowrap);
						justify-content: space-between;
						align-items: center;
						font-size: 2em;
					}
				}
				div.red {
					padding: 1em;
					background-color: #d32f2f;
					border-right: 3px solid;
				}
				div.blue {
					padding: 1em;
					background-color: #3f51b5;
				}
			}
			div.logo {
				@include card;
				//background-color: $primary-base;
				background-image: $team-logo;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				flex-grow: 0.625;
			}
		}
	}
	&#TeamStats {
		padding: 0;
		table.stats {
			border: 1px solid black;
			table-layout: fixed;
			width: 100%;
			height: 100%;
			//Enable borders
			border-collapse: collapse;
			td,th {
				padding: 1em;
				border: 1px solid black;
				margin: 0;

			}
		}
	}
	&#Browser {
		width: 100%;
		height: 100%;
		padding: 0;
		webview {
			width: 100%;
			height: 100%;
		}
	}
}

//Define standard element styles
h1 {
	font-weight: 800;
	display: block;
}
