<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
		<!--<link rel="stylesheet" href="sass/main.css">-->
		<script src="js/main.js"></script>
	</head>
	<body>
		<div class="sidebar">
			<div class="item" for="Home">Home</div>
			<div class="item active" for="NextMatch">Next Match</div>
			<div class="item" for="TeamStats">Stats</div>
		</div>
		<div class="content">
			<div class="page hidden" id="Home">

			</div>
			<!--NOTE: END HOMEPAGE-->
			<div class="page active" id="NextMatch">
				<div class="bg"></div>
				<div class="top">
					<div class="time">
						<div class="data">
							<div>{{ currentTime }}</div>
							<div>{{ ampm }}</div>
						</div>
						<div class="label">Current Time</div>
					</div>
					<div class="matchTime"> <!--Top Right Match Times Blocks-->
						<div class="times">
							<div class="timeLabel">
								Time remaining
							</div>
							<div class="countdown">
								{{ timeUntil }}
							</div>
							<div class="timeLabel">
								Match Time
							</div>
							<div class="estimatedTime">
								{{ time }}
							</div>
						</div>
						<div class="label">
							Our Next Match
						</div>
					</div>
				</div>
				<div class="bottom">
					<div class="lineup">
						<div class="red">
							<div class="team" v-for="team in lineup[0]">
								<div class="number">{{ team.number }}</div>
								<div class="name">{{ team.name }}</div>
								<div class="rank">{{ team.rank }}</div>
							</div>
						</div>
						<div class="blue">
							<div class="team" v-for="team in lineup[1]">
								<div class="number">{{ team.number }}</div>
								<div class="name">{{ team.name }}</div>
								<div class="rank">{{ team.rank }}</div>
							</div>
						</div>
					</div>
					<div class="logo"></div>
				</div>
			</div>
			<!--NOTE: END Next Match Stats-->
			<div class="page hidden" id="TeamStats">

			</div>
		</div>
	</body>
</html>
